<h1>Information about mongoose "<%=meer.name%>"</h1>
<p>-Their favorite color is "<%=meer.favorite_color%>"</p>
<p>-Their ID number is "<%=meer._id%>"</p>
<p>-Created at "<%=meer.createdAt%>"</p>
<p>-Updated at "<%=meer.updatedAt%>"</p>
<a href="/mongooses/edit/<%=meer._id%>">Edit this mongoose?</a>
<br>
<a href="/">Go hOmE ur DRunK</a>
